<!-- Carga el visor de PDF.js -->
<%= javascript_include_tag 'pdfjs/web/viewer.js', plugin: 'redmine_pdf_preview_kaizen2b' %>
<%= stylesheet_link_tag  'pdfjs/web/viewer.css', plugin: 'redmine_pdf_preview_kaizen2b' %>

<div class="pdf-preview-container" style="height: 80vh;">
  <iframe
    src="<%= asset_path('pdfjs/web/viewer.html', plugin: 'redmine_pdf_preview_kaizen2b') %>?file=<%= CGI.escape(download_named_attachment_path(@attachment, @attachment.filename)) %>"
    width="100%" height="100%" style="border:none">
  </iframe>
</div>
